header{
    background-color: #1C1C1C;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    
}
a {
    width: 18px;
    height: 18px;
    text-align: right;
    font: normal normal normal 14px/17px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    display: inline;
    transition:  0,5s ease;

}
.navimg {
    top: 10px;
    left: 147px;
    width: 119px;
    height: 52px;
}
main{
    background-image: url("https://public-v2links.adobecc.com/71297cf3-7ddc-40af-70c4-ce8fda78a719/component?params=component_id%3A1d0e71a5-c99e-4efd-b540-f75e6b91aa1b&params=version%3A0&token=1712157192_da39a3ee_05fa48996587238baaf8edd8dbff128fc0575e52&api_key=CometServer1");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-shadow: inset 0 0 0 2000px rgba(25, 28, 28, 0.63);
    width: auto;
    height: 639px;
    text-align: 150px;
    padding-left: 150px;
    
}
.socmedia{
    padding-left: 150px;
}
h1 {
    top: 268px;
    left: 147px;
    width: 426px;
    height: 87px;
    text-align: left;
    font: normal normal 600 36px/43px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
P {
    top: 422px;
    left: 150px;
    width: 651px;
    height: 65px;
    text-align: left;
    font: normal normal 600 16px/23px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.8;
}
button {
    top: 530px;
    left: 150px;
    width: 135px;
    height: 42px;
    border: 2px solid #FFFFFF;
    opacity: 1;
}
.text{
    top: 759px;
    left: 152px;
    width: 394px;
    height: 38px;
    text-align: left;
    font: normal normal normal 14px/20px Montserrat;
    letter-spacing: 0px;
    color: #86878B;
    opacity: 1;
}
article{
    top: 816px;
    left: 0px;
    width: 1400px;
    height: 595px;
    width: auto;
    background: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box;
    opacity: 0.42;
    background-image: url("https://public-v2links.adobecc.com/71297cf3-7ddc-40af-70c4-ce8fda78a719/component?params=component_id%3A9acae50d-75e5-431e-bfc6-ff7738e64b76&params=version%3A0&token=1712157192_da39a3ee_05fa48996587238baaf8edd8dbff128fc0575e52&api_key=CometServer1");
   
}
.Tabs-register {
    padding-left: 305px;
    padding-top: 150px;
}
h2{
    top: 966px;
    left: 305px;
    width: 509px;
    height: 124px;
    text-align: left;
    font: normal normal 600 36px/40px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.text2{
    top: 1123px;
    left: 303px;
    width: 517px;
    height: 138px;
    text-align: left;
    font: normal normal normal 14px/20px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
section{
    top: 1411px;
    left: 0px;
    width: auto;
    height: 596px;
    background: #1C1C1C 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-left: 150px;
}
h3 {
    top: 1501px;
    left: 767px;
    width: 314px;
    height: 80px;
    text-align: left;
    font: normal normal 600 30px/43px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.text3 {
    top: 1637px;
    left: 767px;
    width: 451px;
    height: 58px;
    text-align: left;
    font: normal normal normal 14px/20px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}










footer{
    top: 4646px;
    left: 0px;
    width: 1887px;
    height: 124px;
    background: #1C1C1C 0% 0% no-repeat padding-box;
    opacity: 1;
    padding-left: 139px;
}